/* # ID | . CLASS */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Plus+Jakarta+Sans:wght@400;600&display=swap');
* { /* resetar o style */ /*deixa o site centralizado */
    padding: 0; /* nós que iremos configurar os paddings */
    margin: 0;
}

/* MENU  */
#menu-container {
    background-color: #ffffff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}

#menu-logotipo {
    margin: 20px;
    height: 30%;
    display: flex;
}

/* OPTIONS 1 */
.menu-op1 {
    display: flex;
}
.menu-text {
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: black;
    padding: 10px 15px 10px 15px;
}

/* OPTIONS 2 */
.menu-op2 {
    display: flex;

}

.menu-buttom1 {
    border: 0px;
    border-radius: 16px;
    padding: 12px 20px 10px 20px;
    background-color: #450EB0;
    margin: 10px 5px 10px 0px;
    
}
#carrinho {
    height: 13px;
    
}
.menu-buttom2 {
    border: 0px;
    border-radius: 16px;
    padding: 10px 20px 10px 20px;
    background-color: #450EB0;
    margin: 10px 0px 10px 5px;
    
}
.menu-buttom2 a{
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 13px;
    color: rgb(255, 255, 255);
}

.menu-buttom1:hover,.menu-buttom2:hover{
    background-color: #5e2cc2;
}


/* BANNER */
.banner-container {
    background-image: url(images/fundo-banner.png);
    background-size: cover;
    background-repeat: no-repeat; /* Evita que a imagem seja repetida */
    background-attachment:local;
    background-position: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 250px;
    height: 100%;
    width: auto;
    position: relative;
    min-height: 80%;
}

#banner-text {
    width: 50%;
    min-width: 300px;
}

#banner-img {
    width: 45%;
    min-width: 300px; 

}

/* DESTAQUES */

.destaques-container {
    padding: 0px 80px;
}

.title-section {
    padding: 50px 0px 20px 0px;
}

.titulos {
    display: flex;
    font-family: 'Mochiy Pop One', sans-serif;
    color: #4007B0;
    font-size: 1.25em ;  
    padding-bottom: 5px;  
}

.subtitulos {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    color: #F37DC7;
    display: flex;
    font-size: 0.98em;
}

.options-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 10%;
    /* flex-wrap: wrap; */
    
}
.option {
    display: flex;
    background-color: rgb(253, 253, 253);
}

.op-content {
    padding: 20px;
}

.options-img {
    width: 200px;
}

.op-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy-buttom {
    border: 0px;
    border-radius: 16px;
    padding: 12px 15px 10px 15px;
    background-color: #450EB0;
}

/* AVALIAÇÕES */
.aval {
    background-color: #c1acec;
}