/* # ID | . CLASS */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Plus+Jakarta+Sans:wght@400;600&display=swap');
* { /* resetar o style */ /*deixa o site centralizado */
    padding: 0; /* nós que iremos configurar os paddings */
    margin: 0;
}

/* MENU  */
#menu-container {
    background-color: #ffffff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}

#menu-logotipo {
    margin: 20px;
    height: 30%;
    display: flex;
}

/* OPTIONS 1 */
.menu-op1 {
    display: flex;
}
.menu-text {
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: black;
    padding: 10px 15px 10px 15px;
}

/* OPTIONS 2 */
.menu-op2 {
    display: flex;

}

.menu-buttom1 {
    border: 0px;
    border-radius: 16px;
    padding: 12px 20px 10px 20px;
    background-color: #450EB0;
    margin: 10px 5px 10px 0px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.040);
    
}
#carrinho {
    height: 13px;
    
}
.menu-buttom2 {
    border: 0px;
    border-radius: 16px;
    padding: 10px 20px 10px 20px;
    background-color: #450EB0;
    margin: 10px 0px 10px 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.040);
    
}
.menu-buttom2 a{
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 13px;
    color: rgb(255, 255, 255);
}

.menu-buttom1:hover,.menu-buttom2:hover{
    background-color: #5e2cc2;
}


/* BANNER */
.banner {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

}

.banner img{
    width: 100%;
}


/* DESTAQUES */

.section-container {
    padding: 0px 80px;
}

.title-section {
    padding: 50px 0px 20px 0px;
}

.content-container {
    display: flex;
    align-items: center;
    margin: 0% 10% 3% 10%;
}


.titulos {
    display: flex;
    font-family: 'Mochiy Pop One', sans-serif;
    color: #4007B0;
    font-size: 1.40em ;
    padding-bottom: 5px;  
}

.subtitulos {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    color: #F37DC7;
    display: flex;
    font-size: 1rem;
}

.options-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2%;
    flex-wrap: wrap;
}

.option {
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.050);
    margin: 15px 0px 0px 0px;
    border-radius: 2%;
}

.op-content {
    padding: 14px;
}

.options-img {
    border-radius: 2%;
}

.op-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;

}

.op-text {
    color: #000;
}

.op-img img{
    height: 380px;
}

.buy-buttom {
    border: 0px;
    border-radius: 16px;
    padding: 12px 15px 10px 15px;
    background-color: #450EB0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.040);
}

.price{
    font-weight: 600;
}
/* AVALIAÇÕES */
.aval {
    background: linear-gradient(to bottom, #ffecf8, #e2e3ff);
    display: flex;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.040);
    align-items: center;
    padding: 2%;
    margin: 2%;
    justify-content: center;
    min-height: 30%;
}

p, h1, h2, h3, a, label {
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-decoration: none;
}

.aval-text h1{
    font-weight: 600;
}

.aval-text p{
    font-weight: 400;
    padding-top: 2%;
}

.aval-img {
    margin-right: 3%;
    
}

/* TEXTO */
.text-container {
    display: flex;
    align-items: center;
    min-width: 20%;
}

.texto-img {
    width: 35%;
    margin-right: 3%;
    min-width: 10%;
}


.texto-text {
    width: 70%;
    min-width: 10%;
}


.texto-text h2{
    font-size: 1.57rem;;
    color: #3905A0;
}


.texto-text p{
    font-size: 1.25rem;;
    margin-top: 3%;
    text-align: justify;
}

/* RODAPÉ */
#rodape-container {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    background-color: #C36AED;
}

.text-rodape {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    display: flex;
    margin: 40px;
}

/* Product page */
.imagens-product{
    padding-right: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-container {
    padding: 1% 8% 0%;
}
.tam-img {
    padding: 15px 0px 15px 0px;
    width: 100px;
   
}

.tam-img img{
    border-radius: 7%;
    width: 100%;
    object-fit: cover;
}

.product-container {
    display: flex;
}

.product-image-container {
    display: flex;
}

.product-text-container {
    display: flex;
    padding: 0% 2%;
}

.options-product{
    padding-top: 3%;
}

.section-text {
    padding-top: 1.3%;
    padding-bottom: 0.6%;
    font-size: 1.20rem;
    font-weight: 600;
}

.options-product label{
    font-size: 1rem;
}


.principal-img {
    width: 510px;
}

.principal-img img{
    border-radius: 3%;
}

.principal-img img {
    width: 100%;
    
}

.section-product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-product {
    height: 70%;
}
.info-product h1{
    font-size: 2rem;
    color: #3700A3;

}
.text-p{
    padding-top: 3%;
}

.descrition-product {
    font-size: 1.2rem;
    color: #3f3f3f;
}

.espec-product {
    font-size: 0.99rem;
    color: #8462c4;
}

.continuar-compra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.valor{
    padding: 15px;
}

.adicionar {
    padding: 15px;
}

.botao-principal{
    background-color: #450EB0;
    color: white;
    text-decoration: none;
    border: 0px;
    padding: 25px;
    border-radius: 7%;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1rem;
}

.text-aboutUs {
    padding: 60px;
}

.text-aboutUs p{
    text-align: justify;
    font-size: 1.15rem;
    padding-top: 1%;

}

.text-aboutUs h2{
    color: #EF119C;
    font-weight: 600;
    font-size: 1.20;
    padding-top: 3%;
}

.text-aboutUs h1{
    color: #330097;
    font-weight: 600;
    font-size: 1.70rem;
}

.carrinho-option{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.qtd-carrinho{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.carrinho-option-img{
    width: 90px;
    height: 90px;
    overflow: hidden;
}

.carrinho-option-img img{
    width: 100%;
    height: auto;

}


.carrinho-container{
    padding: 0px 450px;
}