/* # ID | . CLASS */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Plus+Jakarta+Sans:wght@400;600&display=swap');

* { /* resetar o style */ /*deixa o site centralizado */
    padding: 0; /* nós que iremos configurar os paddings */
    margin: 0;
}

/* MENU  */
#menu-container {
    background-color: #ffffff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}

#menu-logotipo {
    margin: 20px;
    height: 30%;
    display: flex;
}


.menu-options {
    display: flex;
}

.menu-options a{
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: black;
    padding: 10px 15px 10px 15px;
}

.menu-options img {
    height: 13px;
    
}

.menu-options a:hover{
    transform: scale(1.05);
    transition: transform 100ms;
    color: #222222;
}

.menu-options a:active{
    color:#330097;
}

/* BANNER */
.banner {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

}

.banner img{
    width: 100%;
}


/* P A D R Õ E S */

.section-container {
    padding: 0px 80px;
}

.title-section {
    padding: 50px 0px 20px 0px;
}

.title-section h1 {
    display: flex;
    font-family: 'Mochiy Pop One', sans-serif;
    color: #4007B0;
    font-size: 1.40em ;
    padding-bottom: 5px;  
}

.title-section p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    color: #F37DC7;
    display: flex;
    font-size: 1rem;
}

p, h1, h2, h3, h4, h5, h6, a, label {
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-decoration: none;
}

.buttom {
    border: 0px;
    color: white;
    border-radius: 10px;
    padding: 15px;
    background-color: #450EB0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.040);
    font-size: 0.9rem;
    font-weight: 600;
}

.buttom:hover, .buttom-product, .buttonAlert:hover {
    transform:scale(1.1);
    transition: transform 100ms;
}

.buttom, .buttom-product, .buttonAlert:active {
    background-color: #5f22d8;
}

/* OUTRA SEÇÕES */
.content-container {
    display: flex;
    align-items: center;
    margin: 0% 10% 3% 10%;
}

/* RODAPÉ */
#rodape-container {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    background-color: #C36AED;
}

#rodape-container p {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    display: flex;
    margin: 40px;
}


/* CATÁLOGOS */
#options-container, #options-home {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2%;
    flex-wrap: wrap;
}



/* opções do catalogo */


.option {
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.050);
    margin: 1% 0% 0% 0%;
    border-radius: 2%;
}

.option:hover {
    transform: scale(1.05);
    transition: transform 200ms;
}
.op-content {
    padding: 14px;
}

.op-img{
    border-radius: 2%;
}


.op-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;

}

.op-text p{
    color: #000;
}

.op-img img{
    height: 380px;
}

.price{
    font-weight: 600;
}



/* avaliações */
.aval {
    background: linear-gradient(to bottom, #ffecf8, #e2e3ff);
    display: flex;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.040);
    align-items: center;
    padding: 2%;
    margin: 2%;
    justify-content: center;
    min-height: 30%;
}

.aval:hover {
    scale: 1.1;
    transition: scale 500ms;
  }

.aval-text h3{
    font-weight: 600;
}

.aval-text p{
    font-weight: 400;
    padding-top: 2%;
}

.aval img {
    margin-right: 3%;
    
}

/* TEXTO */
.text-container {
    display: flex;
    align-items: center;
    min-width: 20%;
}

.text-container img {
    width: 35%;
    margin-right: 3%;
    min-width: 10%;
}


.texto-text {
    width: 70%;
    min-width: 10%;
}


.texto-text h2{
    font-size: 1.57rem;;
    color: #3905A0;
}


.texto-text p{
    font-size: 1.25rem;;
    margin-top: 3%;
    text-align: justify;
}


/* Product page */
.imagens-product{
    padding-right: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttom-product{
    border: 0px;
    color: white;
    border-radius: 10px;
    padding: 15px;
    background-color: #450EB0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.040);
    font-size: 0.9rem;
    font-weight: 600;
}


.product-container {
    padding: 1% 8% 0%;
}

.tam-img {
    padding: 15px 0px 15px 0px;
    width: 100px;
   
}

.tam-img img:hover {
    transform: scale(1.02);
    transition: transform 200ms;
    border: 3px solid #3700A3;
    
}

.tam-img img{
    border-radius: 7%;
    width: 100%;
    object-fit: cover;
}

.quntd-p {
    padding: 30px 0px;

}

.quntd-p p{
    padding: 5px 0px;
    font-weight: 600;
    font-size: 18px;
}

.quntd-p input, .qtd-carrinho input{
    width: 30px;
    font-size: 15px;
    padding: 8px 0px;
    border-radius: 10px;
    border: 2px solid rgb(149, 73, 236);
    text-align: center;
    padding-left: 15px;
}

.product-container {
    display: flex;
}

.product-image-container {
    display: flex;
}

.product-text-container {
    display: flex;
    padding: 0% 2%;
}

.options-product{
    padding-top: 3%;
}

.section-text {
    padding-top: 1.3%;
    padding-bottom: 0.6%;
    font-size: 1.20rem;
    font-weight: 600;
}

.options-product label{
    font-size: 1rem;
}

.quantidade-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quantidade {
    margin-top: 25px;;
}
.principal-img {
    width: 510px;
}

.principal-img img{
    border-radius: 3%;
}

.principal-img img {
    width: 100%;
    
}

.section-product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-product {
    height: 70%;
}
.info-product h1{
    font-size: 2rem;
    color: #3700A3;

}
.text-p{
    padding-top: 3%;
}

.descrition-product {
    font-size: 1.2rem;
    color: #3f3f3f;
}

.espec-product {
    font-size: 0.99rem;
    color: #8462c4;
}

.continuar-compra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.valor{
    padding: 15px;
}

.adicionar {
    padding: 15px;
}


.text-aboutUs {
    padding: 60px;
}

.text-aboutUs p{
    text-align: justify;
    font-size: 1.15rem;
    padding-top: 1%;

}

.text-aboutUs h2{
    color: #EF119C;
    font-weight: 600;
    font-size: 1.20;
    padding-top: 3%;
}

.text-aboutUs h1{
    color: #330097;
    font-weight: 600;
    font-size: 1.70rem;
}


/* C A R R I N H O */
.carrinho-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(250, 250, 250);
    padding: 20px;
    border: 2px solid rgb(236, 236, 236);
    border-radius: 5px;
    width: 900px;
    margin: 40px 0px;
}

.carrinho-option-img img{
    width: 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.carrinho-option-container {
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.alert{
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 70px;
    border-radius: 5px;

    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 2px 2px 180px rgba(0, 0, 0, 0.336);
}


.buttonAlert{
    border: 0px;
    color: white;
    border-radius: 2px;
    padding: 15px;
    background-color: #450EB0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    font-size: 0.9rem;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 10px;
    width: fit-content;
}

.more-infos-carrinho {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.excluir-carrinho {
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    background-color: #cecece;
    margin: 20px;
}
.excluir-carrinho img{
    width: 25px;
}

.excluir-carrinho:hover {
    transform: scale(1.07);
    transition: transform 200ms;
}



/* Nome do produto */

.carrinho-option-text h5 {
    font-size: 18px;
    size: 400;
    color:#3905A0
}

.carrinho-option-text p{
    font-size: 15px;
    color: #cb84e0;
    font-weight: 600;
}
/* Valor */
.valor-carrinho {
    font-weight: 600;
    color:#00bd55;
    font-size: 18px;
}

/* Quantidade */
.qtd-carrinho{
    padding: 5px;
    display: flex;
    border-radius: 7px;
    flex-direction: row;
    align-items: center;
}

.qtd-carrinho p{
    margin: 0px 7px;
    color: #5b00d3;
    border: 2px solid #a055ff;
    border-radius: 3px;
    padding: 4px 15px;
}

.qtd-text{
    display: flex;
    align-items: center;
    flex-direction: row;
}


.qntd-button:hover {
    transform: scale(1.06);
    transition: transform 200ms;
}
/* Finalizar compra */
.finalizar-compra {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.finalizar-compra p {
    font-size: 18px;
    font-weight: 600;
    color:#00bd55;
}

.finalizar-compra h2{
    font-size: 15px;
    font-weight: 400;
}

/* Formulário */
.contact-us {
    background: rgb(186,80,199);
    background: linear-gradient(to bottom, rgb(219, 138, 230) 11%, rgb(183, 145, 233) 56%);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.040);
    padding: 30px;
    margin: 0px 60px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.contact-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-us button{
    margin-top: 15px;
}

.contact-text {
    font-weight: 600;
    font-size: 0.9rem;
    color: #330097;
    padding-bottom: 3px;
    padding-top: 5px;
}

#message, #contact_email, #contact_name, #username, #password{
    width: 100%;
    padding: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

#message::placeholder, #contact_email::placeholder, #contact_name::placeholder, #username::placeholder, #password::placeholder {
    color: #a3a3a3;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding-left: 5px;
}


/* L O G I N A D M */
.login-input {
    background: linear-gradient(0deg, rgba(111,62,209,1) 0%, rgba(78,179,211,1) 100%);
    display: flex;
    margin: auto;
    padding: 50px 80px;
    border-radius: 15px;
    width:fit-content;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.040);
}

#login-container {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100vh;
}

.login-input h1 {
    color: white;
    font-size: 1.00rem;
}

.login-input label {
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
}

.login-content-title {
    padding-bottom: 15px;
}

.login-content {
    margin: auto;
}

.login-content img {
    height: 50px;
    padding: 10px 0px;
}
.botao-login {
    display: flex;
    flex-direction: column;
    padding: 18px 0px;
}

/* MEDIA QUERY */
@media screen and (max-width: 1024px) {
    .banner {
        width: 1000px;
    }


  } 

  @media screen and (min-width: 100px){
    #options-container {
        column-gap: 3%;
    }
  }